<p>Good news!</p>

<p>A new <%= @piece.form.downcase %> is waiting to be read :)</p>
<p>Check it out <%= link_to 'here', "rwwritingcorner.com" %></p>

<%= link_to "Unsubscribe", unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %>

