/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow if unintended */
}
.nav {
    margin: 0px;
    padding: 0px;
    height: 160px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 100px 1fr 200px;
    justify-items: center;
    align-items: center;
    background-color: #d3cec1;
}

.logo {
    height: 100px;
    width: 170px;
    display: grid;
    grid-template-rows: 45px 10px 45px;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
}

.bar {
    height: 100%;
    width:  100%;
    background-color: #16566c;
}

.logo #top {
    font-size: 30px;
    color: #555252;
    font-weight: bold;
}

.logo #bottom {
    font-size: 25px;
    color: #555252;
    font-weight: bold;
}

.homebutton {
    padding-bottom: 10px;
}
